*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    text-align: center;
    padding-bottom: 150px; 
}

.home h2 {
    font-size: 5em;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}

.home p {
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}

.home .img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.home .img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
